@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.slick-slide > div {
  margin: 0 10px;
}
/* Custom Tailwind-based styles for the slick buttons */
.slick-prev{
  background-color: #000; /* Background color */
  color: green; /* Text color */
  padding: 10px; /* Padding around the button */
  border-radius: 50%; /* To make the buttons round */
}
.slick-next {
  background-color: #000; /* Background color */
  color: #fff; /* Text color */
  padding: 10px; /* Padding around the button */
  border-radius: 50%; /* To make the buttons round */
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #ff6347; /* Change background color on hover */
  color: #fff; /* Text color on hover */
}